.featured{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.title{
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 3rem;
}

.section{
    width: 70%;
    padding-top: 2rem;
    display: flex;
    
    align-items: center;
    justify-content: center;

}

hr{
    border-top: 4px solid red;
    width: 25%;
}

@media screen and (max-width: 650px) {
    .section{
        display: flex;
        flex-direction: column;
    }
}